<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangqi.cms.dao.SettingsDao">
	<select id="select" resultType="Settings">
		select id,site_domain siteDomain, site_name siteName, article_list_size articleListSize, 
	      slide_size slideSize, admin_username adminUsername, admin_password adminPassword 
	     from cms_settings
	</select>
	
	<select id="selectById" resultType="Settings">
		select * from cms_settings where id=#{id}
	</select>
	
	<select id="count" resultType="int">
		select count(1) from cms_settings
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="settings.id">
		insert into cms_settings (site_domain, site_name, article_list_size, 
	      slide_size, admin_username, admin_password
	      )
	    values (#{settings.siteDomain}, #{settings.siteName}, #{settings.articleListSize}, 
	      #{settings.slideSize}, #{settings.adminUsername}, #{settings.adminPassword}
	      )
	</insert>
	<update id="update">
		update cms_settings
	    set site_domain = #{settings.siteDomain},
	      site_name = #{settings.siteName},
	      article_list_size = #{settings.articleListSize},
	      slide_size = #{settings.slideSize},
	      admin_username = #{settings.adminUsername},
	      admin_password = #{settings.adminPassword}
	    where id = #{settings.id}
	</update>
	
	<delete id="deleteById">
		delete from cms_settings where id=#{id}
	</delete>
	
	<delete id="deleteByIds">
		delete from cms_settings where id in(${ids})
	</delete>
</mapper>